<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>gestion de smartphones</title>
</head>
<body>
  <router-outlet>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/smartphone">gestion de smartphones</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/smartphone">home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">smartphones</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/add-smartphone">ajouter</a>
          <a class="dropdown-item" routerLink="/smartphone">lister</a>
          <a class="dropdown-item"  routerLink="/recherche-par-marque" >Recherche Par Marque</a>
          <a class="dropdown-item"  routerLink="/rechercher-par-modele" >Recherche Par modele</a>
        </div>
      </li>
    </ul>
  </nav>
  </router-outlet>
</body>
</html>
